<h1>About the Club</h1>
<p>Tess' attempt to increase her monthly mileage total to 100 miles a month! Think she can do it?! Think you can do it? Faster? Better? More scenic? Lace up your shows and join her on her quest...</p>
<h2>What to do?</h2>
<p>Run 100 miles a month...</p>
<p>Sign up for an account and uplaod an awesome profile picture to be displayed for your logged runs.</p>
<p>Track and upload your run details to this site. Enter the distance, pace and date of run. Want to show off that scenic run through the trees or brag about your breezy beach run? Upload a pic along with your run details and show us where you're hitting the pavement.</p>
<p>Be honest, have fun and lace up your running shoes!</p>