<h1>About the Club</h1>
<%= image_tag("tess.jpg") %></br></br>
<p>This club was created in Tess' attempt to increase her monthly mileage total to 100 miles! To movitvate herself Tess is making her goal public, logging her miles and pace and even uploading pictures of her scenic runs. Since she's competitive by natures she's inviting fellow runners to do the same. Think she can do it?! Think you can do it? Faster? Better? More scenic? Lace up your shoes, join her on her quest and try to beat her to the finish line...</p>
<h2>What To Do:</h2>
<p>Pretty simple. Run 100 miles per month.</p>
<h2>How To:</h2>
<p>Sign up for an account and uplaod an awesome profile picture to be displayed for your logged runs.</p>
<p>Track and upload your run details to this site. Enter the distance, pace and date of run. Want to show off that scenic run through the trees or brag about your breezy beach run? Upload a pic along with your run details and show us where you're hitting the pavement.</p>
<p>Be honest, have fun and starting running!</p>